<%= form_for(@taxi) do |f| %>
  <% if @taxi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@taxi.errors.count, "error") %> prohibited this taxi from being saved:</h2>

      <ul>
      <% @taxi.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row-fluid">
    <div class="span3">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="span3">
      <%= f.label :city %>
      <%= f.select :city, (City.all.map {|c| c.name}) %>
    </div>
  </div>
  <br>
  <div class="row-fluid">
    <div class="span3">
      <%= f.label :phone %>
      <%= f.phone_field :phone %>
    </div>
    <div class="span3">
      <%= f.label :website %>
      <%= f.text_field :website %>
    </div>
  </div>
  <br>
  <div class="row-fluid">
    <div class="span3">
      <%= f.label :default_price %>
      <%= f.text_field :default_price %>
    </div>
    <div class="span3">
      <%= f.label :min_distance %>
      <%= f.text_field :min_distance %>
    </div>
  </div>
  <br>
  <div class="row-fluid">
    <div class="span3">
      <%= f.label :price_for_km %>
      <%= f.text_field :price_for_km %>
    </div>
    <div class="span3" style='padding-top: 3.2em'>
      <%= f.submit "Сохранить", class: 'btn btn-primary pull-right' %>
    </div>
  </div>
<% end %>
