<!DOCTYPE html>
<html lang="ru">
<head>
  <title>DnTaxi</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Exo+2:300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body class='taxi_panel'>
  <div class="navbar navbar-static-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container taxi_container">
        <ul class="nav pull-left">
          <% if taxi_signed_in? %>
            <li><%= link_to 'Заказы', booked_orders_path %></li>
            <li><%= link_to 'Водители', drivers_path %></li>
            <li><%= link_to 'Старые заказы', old_orders_path %></li>
          <% end %>
        </ul>
        <ul class="nav pull-right" id="loginbar">
          <% if taxi_signed_in? %>
            <li><%= link_to 'Профиль службы такси', current_taxi %></li>
            <li><%= link_to 'Выход', destroy_taxi_session_path %></li>
          <% else %>
            <li><%= link_to "Вход", new_taxi_session_path %></li>
            <li><%= link_to "Регистрация", new_taxi_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <div class="container taxi_container content">
    <%if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
    <%if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
