<h1>My profile</h1>
<%= link_to 'Edit', edit_user_path(@user) %>
<%= @user.id %>
<%= @user.email %>
<%= @user.city %>
<%= @user.phone %>
<%= @user.points %>
<%= @user.first_name %>
<%= @user.last_name %>
<hr>
<%= @user.feedbacks.each do |feedback| %>
  <%= feedback.id %>
<% end %>