<ul>
  <% if order.vip %><li><%= t("order.vip") %></li><% end%>
  <% if order.air_conditioning %><li><%= t("order.air_conditioning") %></li><% end%>
  <% if order.animals %><li><%= t("order.animals") %></li><% end%>
  <% if order.minivan %><li><%= t("order.minivan") %></li><% end%>
  <% if order.out_of_town %><li><%= t("order.out_of_town") %></li><% end%>
  <% if order.check %><li><%= t("order.check") %></li><% end%>
</ul>
