<%= form_for @order do |f| %>
  <div class="row-fluid">
    <div class="span7">
      <div class="well">
        <h3 class='red' >Выберите службу такси:</h3>
        <table class='table' style='vertical-align:middle; font-size: 1.2em'>
          <% @taxis.each_with_index do |taxi, index| %>
            <tr>
              <td>
                <%= f.radio_button :taxi_id, taxi.id, checked: (index == 0) %>
              </td>
              <td>
                <b class='blue'><%= taxi.name %></b>
              </td>
              <td>
                <%= "+38#{taxi.phone}"%>
              </td>
              <td>
                <% if @order.by_count %> от <% end %> <%= taxi.cost_for_distance(@order.human_distance) %> грн.
              </td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="row-fluid">
        <div class="span12">
          <div id="map" style="width:100%; height:300px"></div>
        </div>
      </div>
    </div>
    <div class="span5">
      <div class="row-fluid">
        <div class="span3">
          <%= f.label :comment, class: "order blue" %>
        </div>
        <div class="span9">
          <%= f.text_area :comment, class: 'span12', rows: '5', placeholder: "Здесь Вы можете уточнить месторасположение точки отправления" %>
        </div>
      </div>
      <br>
      <div class="row-fluid">
        <div class="span3">
          <%= f.label :user_phone, class: "order blue" %>
        </div>
        <div class="span9">
          <div class="input-prepend phone">
            <span class="add-on">+38</span>
            <%= f.text_field :user_phone, class: 'input-small' %>
          </div>
          <%= f.submit 'Заказать', class: "btn btn-danger submit pull-right" %>
        </div>
      </div>
      <hr>
      <%= render 'order_info' %>
    </div>
  </div>
<%end%>



<script type="text/javascript">
ymaps.ready(init);

function init() {
    var myMap = new ymaps.Map("map", {
            center: <%= [@order.places.first.latitude, @order.places.first.longitude] %>,
            zoom: 13
        });

    ymaps.route(<%= @order.places.map {|p| [p.latitude, p.longitude]}%>
    ).then(function (route) {
        myMap.geoObjects.add(route);
        var points = route.getWayPoints(),
            lastPoint = points.getLength() - 1;
        points.options.set('preset', 'twirl#redStretchyIcon');
        points.get(0).properties.set('iconContent', 'Точка отправления');
        points.get(lastPoint).properties.set('iconContent', 'Точка прибытия');
        var moveList = 'Трогаемся,</br>',
            way,
            segments,
            route_length;
        for (var i = 0; i < route.getPaths().getLength(); i++) {
            way = route.getPaths().get(i);
            segments = way.getSegments();
            for (var j = 0; j < segments.length; j++) {
                var street = segments[j].getStreet();
                moveList += ('Едем ' + segments[j].getHumanAction() + (street ? ' на ' + street : '') + ', проезжаем ' + segments[j].getLength() + ' м.,');
                moveList += '</br>'
            }
        }
        moveList += 'Останавливаемся.';
        // alert(route.getLength())
        $('#list').append(moveList);
    }, function (error) {
        alert('Возникла ошибка: ' + error.message);
    });
}

</script>
