<div class="well">
  <% if @order.calculated? %>
    <h3>Заказ</h3>
  <% else %>
    <br>
  <% end %>
  <table class='table table-striped table-bordered'>
    <tr>
      <td colspan='2'>
        Тел. <b><%= "+38#{@order.user_phone}"%></b>
      </td>
    </tr>
    <% @order.places.each_with_index do |place, index| %>
      <tr>
        <td ><%= ('A'..'Z').to_a[index] %></td>
        <td><%= "#{place.city.name},  #{place.street}, #{place.house}"%></td>
      </tr>
    <% end %>
    <td colspan='2'>
      <%= @order.comment %>
    </td>
  </table>
  <%= render 'additional_conditions', order: @order%>
</div>
