<div style='background: linear-gradient(to right, #3a4c5b, #0066aa ); color: white; width: 100%;'>
  <h2 style='margin-left: 25px; font-weight:100;'>Новый заказ</h2>
</div>
<div class="row-fluid">

  <div class="span6">
    <div class="route">
    <%= render 'places/new_place', :place => Place.new, :order => @order %>
    </div>
  </div>


  <div class="span6">
    <br>

<div id='your_route'></div>

    <%= form_for(@order, :html => {:class => "form-horizontal"}) do |f| %>
      <% if user_signed_in? %>
        <%= f.hidden_field :user_id, value: current_user.id %>
      <% end %>

      <%= f.hidden_field :by_count, value: false%>
      <h4>Дополнительные услуги</h4>
      <label class="checkbox">
        <%= f.check_box :vip %>Машина представительского класса
      </label>
      <label class="checkbox">
        <%= f.check_box :air_conditioning %>Машина с кондиционером
      </label>
      <label class="checkbox">
        <%= f.check_box :animals %>Перевозка животных
      </label>
      <label class="checkbox">
        <%= f.check_box :minivan %>Минивен
      </label>
      <label class="checkbox">
        <%= f.check_box :out_of_town %>Поездка за город
      </label>
      <label class="checkbox">
        <%= f.check_box :check %>Чек
      </label>
      <br>

      <div class="control-group">
        <%= f.label :comment, class: "control-label order" %>
        <div class="controls">
          <%= f.text_area :comment, class: 'order_comment', placeholder: "Здесь Вы можете уточнить месторасположение точки отправления"  %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :user_phone, class: "control-label order" %>
        <div class="controls input-prepend phone">
          <span class="add-on">+38</span>
          <%= f.text_field :user_phone, class: 'span9' %>
        </div>
        <%= f.submit 'Заказать', class:'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
