<h2 class="page-heading">Новый заказ</h2>

<div class="row-fluid">

  <div class="span6">
    <div class="route">
      <%= render 'places/new_place', :place => Place.new, :order => @order %>
    </div>
  </div>

  <div class="span6">
    <div class="errors">
      <ul>
        <% @order.errors.full_messages.each do |e| %>
          <li><%= " #{e}" %></li>
        <% end %>
      </ul>
    </div>
    <div id='your_route'>
      <% if @order.places.any? %>
        <%= render 'places/route', :places => @order.places %>
      <% end %>
    </div>
    <%= form_for(@order, :html => {:class => "form-horizontal"}) do |f| %>
      <% if user_signed_in? %>
        <%= f.hidden_field :user_id, value: current_user.id %>
      <% end %>
      <%= f.hidden_field :by_count, value: false%>
      <h4>Дополнительные услуги</h4>
      <label class="checkbox">
        <%= f.check_box :vip %>Машина представительского класса
      </label>
      <label class="checkbox">
        <%= f.check_box :air_conditioning %>Машина с кондиционером
      </label>
      <label class="checkbox">
        <%= f.check_box :animals %>Перевозка животных
      </label>
      <label class="checkbox">
        <%= f.check_box :minivan %>Минивен
      </label>
      <label class="checkbox">
        <%= f.check_box :out_of_town %>Поездка за город
      </label>
      <label class="checkbox">
        <%= f.check_box :check %>Чек
      </label><br>

      <div class="row-fluid">
        <div class="span3">
          <%= f.label :comment, class: "order" %>
        </div>
        <div class="span9">
          <%= f.text_area :comment, class: 'span12', rows: '5', placeholder: "Здесь Вы можете уточнить месторасположение точки отправления" %>
        </div>
      </div><br>

      <div class="row-fluid">
        <div class="span3">
          <%= f.label :user_phone, class: "order" %>
        </div>
        <div class="span9">
          <div class="input-prepend phone">
            <span class="add-on">+38</span>
            <%= f.text_field :user_phone, class: 'input-small' %>
          </div>
          <%= f.submit 'Заказать', class: "btn btn-danger submit pull-right" %>
        </div>
      </div>

    <% end %>
  </div>
</div>
