<% if @order.errors.any? %>
<div class="alert alert-error">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <ul class='unstyled'>
    <% @order.errors.full_messages.each do |e| %>
      <li><%= e %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="row-fluid">
  
  <div class="span6">
    
    <div id='your_route'>
      <% if @order.places.any? %>
        <%= render 'places/route', :places => @order.places %>
      <% end %>
    </div>
    <div class="route">
      <%= render 'places/new_place', :place => Place.new, :order => @order %>
    </div>
    <%= form_for(@order, :html => {:class => "form-horizontal"}) do |f| %>
      <%= f.hidden_field :distance %>
      <h4 class='blue'>Дополнительные услуги</h4>
      <div class="row-fluid">
        <div class="span6">
          <label class="checkbox">
            <%= f.check_box :vip %><%= t('order.vip')%>
          </label>
        </div>
        <div class="span6">
          <label class="checkbox">
            <%= f.check_box :air_conditioning %><%= t('order.air_conditioning')%>
          </label>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span6">
          <label class="checkbox">
            <%= f.check_box :animals %><%= t('order.animals')%>
          </label>
        </div>
        <div class="span6">
          <label class="checkbox">
            <%= f.check_box :check %><%= t('order.check')%>
          </label>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span6">
          <label class="checkbox">
            <%= f.check_box :minivan %><%= t('order.minivan')%>
          </label>
        </div>
        <div class="span6">
          <label class="checkbox">
            <%= f.check_box :out_of_town %><%= t('order.out_of_town')%>
          </label>
        </div>
      </div>
      <div style='margin-bottom: 5em;'>
        <%= f.submit t('order.calculate'), class: "btn btn-danger submit pull-left" %>
      </div>
      <% end %>
  </div>

  <div class="span6 map_view">
    <%= render 'map', order: @order %>
    <p>*Если адрес на карте отличается от реального, то уточните его в графе "Примечание."</p>
  </div>
</div>


