<h4><%= @order.state %></h4>
<p>
  <strong>Taxi:</strong>
  <%= @order.taxi_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user_id %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @order.cost %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @order.distance %>
</p>

<p>
  <strong>Driver:</strong>
  <%= @order.driver_id %>
</p>

<p>
  <strong>User phone:</strong>
  <%= @order.user_phone %>
</p>

<%= link_to 'Back', root_path %>

<hr>

<table>
<tr>
  <th>
    Taxi
  </th>
  <th>
    Cost
  </th>
</tr>
<% @taxis.each do |taxi| %>
<tr>
<td>
<%= taxi.name %>  
</td>
<td>
  <%= taxi.cost_for_distance(@order.distance) %>
</td>
</tr>
<% end %>
</table>

<%= image_tag @route %>

<table>
  <tr>
    <th></th>
    <th></th>
  </tr>
  <% @order.places.each_with_index do |place, index| %>
    <tr>
      <td><%= index+1 %></td>
      <td><%= "#{place.city},  #{place.street}, #{place.house}"%></td>
    </tr>
  <% end %>
</table>
