<h2>Вход</h2>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %>
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %>
  <%= f.password_field :password %></div><br>

  <div><%= f.submit t("#{resource_name}.sign_in"), class: 'btn btn-primary' %></div>
<% end %>
<% render "devise/shared/links" %>

<a href="#myModal" role="button" class="btn btn-success" data-toggle="modal">Модалкокнопка</a>

<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Модалкошапка</h3>
  </div>
  <div class="modal-body">
    <p>Модалкотекст</p>
  </div>
  <div class="modal-footer">
  </div>
</div>
