<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @feedback.user_id %>
</p>

<p>
  <strong>Taxi:</strong>
  <%= @feedback.taxi_id %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @feedback.rank %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @feedback.comment %>
</p>

<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
