<h1>Водители</h1>

<table>
  <thead>
    <tr>
      <th>Позывной</th>
      <th>Автомобиль</th>
      <th>Гос. номер</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @drivers.each do |driver| %>
      <tr>
        <td><%= driver.number %></td>
        <td><%= driver.car %></td>
        <td><%= driver.car_naumber %></td>
        <td><%= link_to 'Edit', edit_driver_path(driver) %></td>
        <td><%= link_to 'Destroy', driver, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Driver', new_driver_path %>
