<div class='errors'></div>
<div class="place<%=order.places.count %>">
  <%= form_for place, html: {class: 'form-horizontal'}, remote: true do |f|%>
    <%= token_tag(nil) %>
    <%= f.hidden_field :order_id, value: order.id %><br>
    <%= f.hidden_field :uniq_id, value: Digest::SHA1.hexdigest((0...50).map { ('a'..'z').to_a[rand(26)] }.join + Time.now.to_s) %>
    <div class="row-fluid">
      <%= f.label :city_id, class: "span3 text-left" %>
      <%= f.select :city_id, (City.all.map {|c| [c.name, c.id] }), {}, class: 'span5' %>
    </div><br>
    <div class="row-fluid">
      <%= f.label :street, class: "span3 text-left" %>
      <%= f.text_field :street, class: 'span5' %>
    </div><br>
    <div class="row-fluid">
      <%= f.label :house, class: "span3 text-left" %>
      <%= f.text_field :house, class: 'span5' %>
    </div><br>
    <div class="row-fluid">
      <%= f.label :porch, class: "span3 text-left" %>
      <%= f.text_field :porch, class: 'span5' %>
    </div><br>
    <div class="row-fluid">
      <div class="span12">
        <%= f.submit 'Составить маршрут', class: 'btn btn-primary', id: "add_to_route", title: 'Вы можете поехать в несколько мест добавляя их в раздел "Куда"' %>
        <% if order.places.count < 1 %>
          <input type="button" class='btn btn-primary' id='close_places_form' title='По городу (не знаю куда)' value="По счетчику">
        <% end %>
      </div>
    </div>
  <% end %>
</div>
