<br>
<div class='errors'></div>
<div class="place<%=order.places.count %>">
  <%= form_for place, html: {class: 'form-horizontal'}, remote: true do |f|%>
    <%= token_tag(nil) %>
    <%= f.hidden_field :order_id, value: order.id %>
    <div class="control-group">
      <%= f.label :city, class: "control-label text-left" %>
      <div class="controls">
        <%= f.select :city, (City.all.map {|c| c.name}) %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :street, class: "control-label text-left" %>
      <div class="controls">
        <%= f.text_field :street %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :house, class: "control-label text-left" %>
      <div class="controls">
        <%= f.text_field :house %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :porch, class: "control-label text-left" %>
      <div class="controls">
        <%= f.text_field :porch %>
      </div>
    </div>
    <div class="control-group">
      <%= f.submit 'Составить маршрут', class: 'btn btn-success', id: "add_to_route" %>
      <% if order.places.count < 1 %>
        <a class='btn btn-success' id='close_places_form' href="#" alt='По городу (не знаю куда)'>По счетчику</a>
      <% end %>
    </div>
  <% end %>
</div>
