<div class='errors'></div>
<div class="place<%=order.places.count %>">
  <%= form_for place, html: {class: 'form-horizontal'}, remote: true do |f|%>
    <%= token_tag(nil) %>
    <%= f.hidden_field :order_id, value: order.id %><br>
    <div class="row-fluid">
      <%= f.label :city, class: "span3 text-left" %>
      <%= f.select :city, (City.all.map {|c| c.name}), {}, class: 'span9' %>
    </div><br>
    <div class="row-fluid">
      <%= f.label :street, class: "span3 text-left" %>
      <%= f.text_field :street, class: 'span9' %>
    </div><br>
    <div class="row-fluid">
      <%= f.label :house, class: "span3 text-left" %>
      <%= f.text_field :house, class: 'span9' %>
    </div><br>
    <div class="row-fluid">
      <%= f.label :porch, class: "span3 text-left" %>
      <%= f.text_field :porch, class: 'span9' %>
    </div>

    <hr>

    <div class="row-fluid">
      <%= f.submit 'Составить маршрут', class: 'btn btn-primary', id: "add_to_route", title: 'Вы можете поехать в несколько мест добавляя их в раздел "Куда"' %>
      <% if order.places.count < 1 %>
        <a class='btn btn-primary' id='close_places_form' href="#" title='По городу (не знаю куда)'>По счетчику</a>
      <% end %>
    </div>
  <% end %>
</div>
