<div class="well">
  <h3>Ваш маршрут</h3>
  <% from, *through, to = places %>
  <table class="table ">
    <tr>
      <td><strong>Откуда</strong></td>
      <%= render "places/route_point", point: from %>
    </tr>
    <% if through.any? %>
      <% through.each do |place| %>
        <tr>
          <td><strong>Через</strong></td>
          <%= render "places/route_point", point: place %>
        </tr>
      <% end %>
    <% end %>
    <%if to.present? %>
      <tr>
        <td><strong>Куда</strong></td>
          <%= render "places/route_point", point: to %>
      </tr>
    <% end %>
  </table>
  <div id="map" style="width:100%; height:300px"></div>
</div>



<script type="text/javascript">
ymaps.ready(init);

function init() {
    var myMap = new ymaps.Map("map", {
            center: <%= [from.latitude, from.longitude] %>,
            zoom: 13
        });

    ymaps.route(<%= places.map {|p| [p.latitude, p.longitude]}%>
    ).then(function (route) {
        myMap.geoObjects.add(route);
        var points = route.getWayPoints(),
            lastPoint = points.getLength() - 1;
        points.options.set('preset', 'twirl#redStretchyIcon');
        points.get(0).properties.set('iconContent', 'Точка отправления');
        points.get(lastPoint).properties.set('iconContent', 'Точка прибытия');
        var moveList = 'Трогаемся,</br>',
            way,
            segments,
            route_length;
        for (var i = 0; i < route.getPaths().getLength(); i++) {
            way = route.getPaths().get(i);
            segments = way.getSegments();
            for (var j = 0; j < segments.length; j++) {
                var street = segments[j].getStreet();
                moveList += ('Едем ' + segments[j].getHumanAction() + (street ? ' на ' + street : '') + ', проезжаем ' + segments[j].getLength() + ' м.,');
                moveList += '</br>'
            }
        }
        moveList += 'Останавливаемся.';
        $('#order_distance').val(route.getLength())
    }, function (error) {
        alert('Возникла ошибка: ' + error.message);
    });
}
</script>

