<div class="well">
  <h3>Ваш маршрут</h3>
  <% from, *through, to = places %>
  <table class="table table-striped table-bordered">
    <tr>
      <td><strong>Откуда</strong></td>
      <td><%= "#{from.city.name}, #{from.street}, #{from.house}"%></td>
      <td>
        <%= link_to edit_place_path(from), class: 'btn btn-primary', remote: true do %>
          <i class="icon-pencil"></i>
        <% end %>
      </td>
      <td>
        <%= link_to from, method: :delete, class: 'btn btn-danger', remote: true do %>
          <i class="icon-remove"></i>
        <% end %>
      </td>
    </tr>
    <% if through.any? %>
      <% through.each do |place| %>
        <tr>
          <td><strong>Через</strong></td>
          <td><%= "#{place.city.name}, #{place.street}, #{place.house}"%></td>
          <td><a href="#" class="btn btn-primary"><i class="icon-pencil"></i></a></td>
          <td>
            <%= link_to place, method: :delete, class: 'btn btn-danger', remote: true do %>
              <i class="icon-remove"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
    <%if to.present? %>
      <tr>
        <td><strong>Куда</strong></td>
        <td><%= "#{to.city.name}, #{to.street}, #{to.house}"%></td>
          <td><a href="#" class="btn btn-primary"><i class="icon-pencil"></i></a></td>
          <td>
            <%= link_to to, method: :delete, class: 'btn btn-danger', remote: true do %>
              <i class="icon-remove"></i>
            <% end %>
          </td>
      </tr>
    <% end %>
  </table>
  <div id="map" style="width:100%; height:300px"></div>
</div>



<script type="text/javascript">
ymaps.ready(init);

function init() {
    var myMap = new ymaps.Map("map", {
            center: <%= [from.latitude, from.longitude] %>,
            zoom: 13
        });

    ymaps.route(<%= places.map {|p| [p.latitude, p.longitude]}%>
    ).then(function (route) {
        myMap.geoObjects.add(route);
        var points = route.getWayPoints(),
            lastPoint = points.getLength() - 1;
        points.options.set('preset', 'twirl#redStretchyIcon');
        points.get(0).properties.set('iconContent', 'Точка отправления');
        points.get(lastPoint).properties.set('iconContent', 'Точка прибытия');
        var moveList = 'Трогаемся,</br>',
            way,
            segments,
            route_length;
        for (var i = 0; i < route.getPaths().getLength(); i++) {
            way = route.getPaths().get(i);
            segments = way.getSegments();
            for (var j = 0; j < segments.length; j++) {
                var street = segments[j].getStreet();
                moveList += ('Едем ' + segments[j].getHumanAction() + (street ? ' на ' + street : '') + ', проезжаем ' + segments[j].getLength() + ' м.,');
                moveList += '</br>'
            }
        }
        moveList += 'Останавливаемся.';
        $('#order_distance').val(route.getLength())
    }, function (error) {
        alert('Возникла ошибка: ' + error.message);
    });
}
</script>

