<!DOCTYPE html>
<html lang="ru">
<head>
  <title>DnTaxi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", media: "all"%>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application" %>
  <script src="http://api-maps.yandex.ru/2.0/?load=package.full&lang=ru-RU" type="text/javascript"></script>
  <link href='http://fonts.googleapis.com/css?family=Exo+2:300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Poiret+One&subset=latin,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="main">
    <div class="brand-stripe-wrapper">
      <div class='brand_stripe'>
        <div class="container">
          <ul class="pull-right unstyled top-navigation" id="loginbar">
            <li><%= link_to "О нас", about_path %></li>
            <li><%= link_to "Партнерство", partners_path %></li>
            <li><%= link_to 'Новый заказ', root_path %></li>
          </ul>
          <%= link_to root_path, class: 'brand' do %>
            <span>My</span>taxi.dn.ua
          <% end %>
        </div>
      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </div>
</body>
</html>
