<!DOCTYPE html>
<html lang="ru">
<head>
  <title>DnTaxi</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "application", media: "all"%>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Exo+2:300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Poiret+One&subset=latin,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>

<!--   <div class="navbar navbar-static-top">
    <div class="navbar-inner">
        <ul class="nav pull-right" id="loginbar">
          <li class='nav_item'><%= link_to 'Новый заказ', root_path %></li>
          <% if user_signed_in? %>
            <li class='nav_item'><%= link_to 'Мой профиль', current_user %></li>
            <li class='nav_item'><%= link_to 'Выход', destroy_user_session_path %></li>
          <% else %>
            <li class='nav_item'><%= link_to "Вход", new_user_session_path %></li>
            <li class='nav_item'><%= link_to "Регистрация", new_user_registration_path %></li>
          <% end %>
        </ul>
    </div>
  </div> -->

  <div class="brand-stripe-wrapper">
    <div class='brand_stripe'>
      <div class="container">
        <ul class="pull-right unstyled top-navigation" id="loginbar">
          <li><%= link_to 'Новый заказ', root_path %></li>
        </ul>
        <%= link_to root_path, class: 'brand' do %>
          <span>My</span>taxi.dn.ua
        <% end %>
      </div>
    </div>
  </div>

  <div class="container">
    <%= yield %>
  </div>

  <div class="push-footer"></div>

  <div class="footer">
    <div class="container">
      <%= link_to "Ololo 1", "#" %>
      <%= link_to "Ololo 2", "#" %>
    </div>
  </div>

  <%= javascript_include_tag "application" %>
</body>
</html>
