<!DOCTYPE html>
<html lang="ru">
<head>
  <title>DnTaxi</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Exo+2:300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="navbar navbar-static-top navbar-inverse">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav pull-right" id="loginbar"> 
          <% if user_signed_in? %>
            <li><%= link_to 'Мой профиль', current_user %></li>
            <li><%= link_to 'Выход', destroy_user_session_path %></li>
          <% else %>
            <li><%= link_to "Вход", new_user_session_path %></li>
            <li><%= link_to "Регистрация", new_user_registration_path %></li>
          <% end %>
        </ul>              
      </div>
    </div>
  </div>
  <div class="container content">      
    <%if notice %>  
      <p class="notice"><%= notice %></p>
    <% end %>
    <%if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
    <%= yield %>      
  </div>
    
<% if taxi_signed_in? %>
    <%= link_to 'my profile', current_taxi %>
    <%= link_to 'Sign out', destroy_taxi_session_path %>
  <% else %>
    <%= link_to "Sign in", new_taxi_session_path %>
    <%= link_to "Sign up", new_taxi_registration_path %>
  <% end %>



</body>
</html>
