<!DOCTYPE html>
<html>
<head>
  <title>DnTaxi</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<h1>USER</h1>
  <% if user_signed_in? %>
    <%= link_to 'my profile', current_user %>
    <%= link_to 'Sign out', destroy_user_session_path %>
  <% else %>
    <%= link_to "Sign in", new_user_session_path %>
    <%= link_to "Sign up", new_user_registration_path %>
  <% end %>
  <hr>
<h1>TAXI</h1>
<% if taxi_signed_in? %>
    <%= link_to 'my profile', current_taxi %>
    <%= link_to 'Sign out', destroy_taxi_session_path %>
  <% else %>
    <%= link_to "Sign in", new_taxi_session_path %>
    <%= link_to "Sign up", new_taxi_registration_path %>
  <% end %>
  <hr>
	
<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
