<!DOCTYPE html>
<html lang="ru">
<head>
  <title>DnTaxi</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Exo+2:300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Poiret+One&subset=latin,latin-ext,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>
  <!-- <div class="navbar navbar-static-top">
    <div class="navbar-inner">
        <ul class="nav pull-right" id="loginbar">
          <li class='nav_item'><%= link_to 'Новый заказ', root_path %></li>
          <% if user_signed_in? %>
            <li class='nav_item'><%= link_to 'Мой профиль', current_user %></li>
            <li class='nav_item'><%= link_to 'Выход', destroy_user_session_path %></li>
          <% else %>
            <li class='nav_item'><%= link_to "Вход", new_user_session_path %></li>
            <li class='nav_item'><%= link_to "Регистрация", new_user_registration_path %></li>
          <% end %>
        </ul>
    </div>
  </div> -->
  <div class='brand_stripe'>
    <ul class="pull-right" id="loginbar">
      <li class='nav_item'><%= link_to 'Новый заказ', root_path %></li>
    </ul>
    <br>
    <h1 class='brand'><span><%= link_to 'My', root_path, class: 'red_link'%></span><%= link_to 'taxi.dn.ua', root_path, class: 'white_link'%></h1>
</div>

  <div class="container content">
    <%= yield %>
  </div>

</body>
</html>
